
BloodPressure_HeartRate/BloodPressure_HeartRate.spec
/BloodPressure_HeartRate/build
/DnD_Character_Generator/build
/DnD_Dice_Roller/build
/ResinCalc/build
ResinCalc/ResinCalc.spec
/ResinCalc/dist
AutoTextReplacer/auto_text_replacer.spec
/AutoTextReplacer/build
/AutoTextReplacer/dist
/EncryptedJournalApp/build
EncryptedJournalApp/journal_app.spec
/EncryptedJournalApp/dist
